.tv {
  @include flex-center-row;
  position: absolute;
  right: 4rem;
  bottom: 4rem;
  width: 25rem;
  height: 20rem;
  background: $tv-body-color ;
  border-radius: 3rem;
  border: .2rem solid $border-color;
  transform-origin: bottom center;
  @include animation(bounce-body alternate infinite 1s .5s ease-in-out);
  z-index: 10;

  &__background {
    @include flex-center-column;
    position: relative;
    background: $tv-background-color;
    width: 70%;
    height: 80%;
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;

    &__screen {
      width: 90%;
      height: 90%;
      position: absolute;
      background: $gradient-tv-screen-color-1;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, $gradient-tv-screen-color-3, $gradient-tv-screen-color-2, $gradient-tv-screen-color-1);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, $gradient-tv-screen-color-3, $gradient-tv-screen-color-2, $gradient-tv-screen-color-1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      border-radius: 5rem;
      border: .2rem solid $border-color;

      &__face {
        display: flex;
        z-index: 2;
        position: relative;
        width: 50%;
        height: 50%;
        top: 10%;
        left: 10%;

        &__eyes {
          display: flex;

          .eyebrow-left, .eyebrow-right {
            position: absolute;
            width: 2rem;
            height: .5rem;
            background: $tv-body-color;
            border: .1rem solid $border-color;
            top: -1.5rem;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
          }

          .eyebrow-left {
            left: 0;
          }

          .eyebrow-right {
            left: 3rem;
          }

          &__left, &__right {
            margin: .2rem;
            position: relative;
            background: $main-color;
            width: 2rem;
            height: 3rem;
            top: 0;
            border-radius: 50%;
            border: .1rem solid $tv-eye-border-color;
            @include animation(blink forwards infinite 10s ease-in-out);

          }

          .ball {
            width: .8rem;
            height: .8rem;
            background: $border-color;
            position: absolute;
            top: 50%;
            left: 50%;
            @include translate(-50%, -50%);
            border-radius: 50%;
            border: .2rem solid $gradient-tv-screen-color-1;
          }
        }

        &__mouth {
          position: absolute;
          width: 5rem;
          height: 2rem;
          bottom: 0;
          background-color: #343232;
          border: .2rem solid $border-color;
          overflow: hidden;
          border-radius: 30% 30% 50% 50%;
          @include animation(mouth-move infinite 10s, bounce-body alternate infinite 1s .5s ease-in-out);

          &:before, &:after{
            content: "";
            position: absolute;
            width: 5rem;
            border-radius: 50%;
          }

          &:before {
            height: .5rem;
            top: -.2rem;
            background-color: $main-color;

          }

          &:after {
            bottom: -.2rem;
            height: 1rem;
            background-color: $tv-tongue-color;
          }
        }
      }
    }
  }

  &__buttons {
    width: 20%;
    height: 80%;
    background: $tv-buttons-background-color;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;

    &__round, &__lines {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__round {
      height: 60%;

      &__1, &__2 {
        position: relative;
        width: 3rem;
        height: 3rem;
        background: $tv-buttons-color;
        border-radius: 50%;
        margin: .5rem;
        border: .2rem solid $border-color;
      }

      &__1:after, &__2:after {
        content: "";
        position: absolute;
        width: .2rem;
        height: 90%;
        border: .2rem solid $border-color;
        top: 50%;
        left: 50%;
      }

      &__1:after {
        @include transform(translate(-50%, -50%) rotate(-45deg));
        @include animation(rotate-first forwards infinite 20s ease-in-out);
      }

      &__2:after {
        @include translate(-50%, -50%);
        @include animation(rotate-second forwards infinite 20s ease-in-out);
      }
    }

    &__lines {
      height: 40%;

      .line {
        width: 80%;
        height: .5rem;
        background: $border-color;
        border-radius: 2rem;
        margin: .1rem;
      }
    }
  }

  &:after, &:before {
    content: "";
    position: absolute;
    background: $tv-buttons-color;
    height: 1rem;
    width: 3rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: .2rem solid $border-color;
    bottom: -1.4rem;
  }

  &:after {
    left: 3rem;
  }

  &:before {
    right: 3rem;
  }

  &__top {
    position: absolute;
    width: 6rem;
    height: 3rem;
    background: $tv-buttons-color;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    top: -3.4rem;
    right: 5rem;
    border: .2rem solid $border-color;

    &__left, &__right {
      position: absolute;
      width: 15rem;
      height: .3rem;
      background: $main-color;
      z-index: -1;
      border: .2rem solid $border-color;
    }

    &__left {
      @include rotate(20);
      top: -1rem;
      right: 2rem;

    }

    &__right {
      @include rotate(-50);
      top: -4rem;
      left: 0;
    }
  }
}
