.copyright {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  color: $main-color;
  letter-spacing: .1rem;
  background: $searchbox-background-color-2;
  width: 100%;
  border-top: 0.1rem solid #FFF;
  padding: .2rem 0;
  line-height: .5rem;
  opacity: .8;

  span {
    text-transform: uppercase;
    font-size: .5rem;
  }

  @include desktop {
    @include rotate(40);
    left: -4rem;
    bottom: 4rem;
    padding: .5rem 5rem;
    width: auto;
    line-height: 1rem;
    border-bottom: 0.1rem solid #FFF;

    span {
      font-size: .6rem;

      &:last-of-type {
        font-weight: 700;
      }
    }

  }

}