.home {
  &__searchbox {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 35rem;
    border-radius: 2rem;
    border: .3rem solid $main-color;
    box-shadow: 10px 10px 12px -1px rgba(0,0,0,0.57);
    background: $searchbox-background-color-1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, $searchbox-background-color-2, $searchbox-background-color-1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, $searchbox-background-color-2, $searchbox-background-color-1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: $main-font;
    position: relative;

    @include desktop {
      width: 70%;
      min-height: 45rem;
    }

    &__type, &__genres, &__keywords, &__submit {
      display: flex;
      justify-content: center;
      align-items: baseline;
      margin: 1rem 0;

      @include desktop {
        margin: 2rem 0;
      }

      &__radio {
        display: flex;
        flex-wrap: wrap;
        width: 70%;

        .single-box {
          display: flex;
          margin: .4rem;
          flex-wrap: wrap;
          width: calc(50% - 0.8rem);

          label {
            color: $main-color;
            margin: 0 .7rem;
            font-size: .6rem;
            cursor: pointer;
            word-break: break-all;
          }
        }

        @include desktop {
          width: 80%;

          .single-box {
            margin: .5rem;
            width: calc(25% - 1rem);
            height: 2rem;

            label {
              margin-left: 1rem;
              font-size: .8rem;
              letter-spacing: .1rem;
            }
          }
        }
      }
    }

    &__type {
      height: 5%;
    }

    &__genres {
      height: 70%;

      &__radio {
        height: auto;
        overflow: hidden;
        @include transition(max-height .3s ease-in-out);

        &.show {
          max-height: 100%;
        }

        &.hide {
          max-height: 0;
        }
      }
    }

    &__keywords {
      height: 20%;

      &__input {
        width: 80%;
        position: relative;

        input {
          width: 80%;
          padding: .5rem;
          font-size: .6rem;

          @include desktop {
            width: 50%;
            padding: .5rem;
            font-size: 1rem;
          }
        }

        &__results {
          display: flex;
          flex-wrap: wrap;
          position: absolute;
          top: 2.5rem;
          background: $main-color;
          width: 80%;
          height: 0;
          overflow: hidden;
          font-size: .6rem;
          @include transition(height .5s ease-in-out);

          @include desktop {
            width: 50%;
            top: 3rem;
          }

          &.show {
            height: auto;
            padding: .5rem;
          }

          &.hide {
            height: 0;
          }

          span {
            font-size: .6rem;
            position: relative;
            padding: .2rem 0;
            cursor: pointer;
            width: 25%;
            z-index: 10;

            &:hover {
              color: $searchbox-background-color-1;
            }

            @include desktop {
              font-size: .8rem;
            }
          }
        }
      }
    }

    &__submit {
      height: 5%;

      &__button {
        @include flex-center-row;
        height: 15%;

        button {
          cursor: pointer;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 700;
          outline: none;
          position: relative;
          @include transition(all 0.3s);
          overflow: hidden;
          background: transparent;
          color: $main-color;
          border: .2rem solid $main-color;
          border-radius: 2rem;
          margin: 0 1rem;
          padding: .2rem 3rem;
          font-size: .8rem;

          &:after {
            content: '';
            position: absolute;
            @include transition(all 0.3s);
            width: 30%;
            height: 200%;
            background: rgba(255,255,255,0.1);
            z-index: 1;
            right: 0;
            top: 0;
            transform-origin: 0 0;
            @include rotate(-20);
          }

          &:hover:after {
            width: 40%;
          }

          i {
            @include flex-center-row;
            position: absolute;
            height: 100%;
            top: 0;
            font-size: .8rem;
            right: 1rem;
            z-index: 2;
          }

          @include desktop {
            font-size: 1rem;
            padding: 1rem 6rem;


            i {
              font-size: 1.2rem;
              right: 2rem;
            }
          }

        }
      }
    }

    .title-box {
      @include flex-center-row;
      width: 30%;
      margin: .5rem 0;

      h2 {
        text-transform: uppercase;
        color: $main-color;
        font-size: .7rem;
        letter-spacing: .1rem;

      }

      @include tablet-and-desktop {
        width: 20%;
        h2 {
          letter-spacing: .2rem;
          font-size: 1rem;
        }
      }
    }
  }
}