.home {
  &__searchbox {
    @include phone {
      min-height: 35rem;
      height: 35rem;
    }

    &__type, &__genres, &__keywords, &__submit {
      display: flex;
      justify-content: center;
      align-items: baseline;
      margin: 1rem 0;

      @include desktop {
        margin: 2rem 0;
      }

      &__radio {
        display: flex;
        flex-wrap: wrap;
        width: 70%;

        .single-box {
          display: flex;
          margin: .4rem;
          flex-wrap: wrap;
          width: calc(50% - 0.8rem);

          label {
            color: $main-color;
            margin: 0 .7rem;
            font-size: .6rem;
            cursor: pointer;
            word-break: break-all;
          }
        }

        @include desktop {
          width: 80%;

          .single-box {
            margin: .5rem;
            width: calc(25% - 1rem);
            height: 2rem;

            label {
              margin-left: 1rem;
              font-size: .8rem;
              letter-spacing: .1rem;
            }
          }
        }
      }
    }

    &__type {
      height: 5%;
    }

    &__genres {
      height: 70%;

      &__radio {
        height: auto;
        overflow: hidden;
        @include transition(max-height .3s ease-in-out);

        &.show {
          max-height: 100%;
        }

        &.hide {
          max-height: 0;
        }
      }
    }

    &__keywords {
      height: 20%;
      color: black;

      &__input {
        width: 80%;
        position: relative;

        input {
          width: 80%;
          padding: .5rem;
          font-size: .6rem;

          @include desktop {
            width: 50%;
            padding: .5rem;
            font-size: 1rem;
          }
        }

        &__results {
          display: flex;
          flex-wrap: wrap;
          position: absolute;
          top: 2.5rem;
          background: $main-color;
          width: 80%;
          height: 0;
          overflow: hidden;
          font-size: .6rem;
          @include transition(height .5s ease-in-out);

          @include desktop {
            width: 50%;
            top: 3rem;
          }

          &.show {
            height: auto;
            padding: .5rem;
          }

          &.hide {
            height: 0;
          }

          span {
            font-size: .6rem;
            position: relative;
            padding: .2rem 0;
            cursor: pointer;
            width: 25%;
            z-index: 10;

            &:hover {
              color: $searchbox-background-color-1;
            }

            @include desktop {
              font-size: .8rem;
            }
          }
        }
      }
    }



    .title-box {
      @include flex-center-row;
      width: 30%;
      margin: .5rem 0;

      h2 {
        text-transform: uppercase;
        color: $main-color;
        font-size: .7rem;
        letter-spacing: .1rem;

      }

      @include desktop {
        width: 20%;
        h2 {
          letter-spacing: .2rem;
          font-size: 1rem;
        }
      }
    }
  }
}