$border-color: #000;
$tv-body-color: #9E4C15;
$tv-background-color: #B7A792;

$gradient-tv-screen-color-1: #7F7FD5;
$gradient-tv-screen-color-2: #86A8E7;
$gradient-tv-screen-color-3: #91EAE4;

$main-color: #FFF;
$tv-eye-border-color: #848484;
$tv-tongue-color: #f15962;
$tv-buttons-background-color: #E1C9A9;
$tv-buttons-color: #4F4D4B;

$result-background-color: #5874B4;

$searchbox-background-color-1: #4b6cb7;
$searchbox-background-color-2: #182848;

$error-color: #aa5a62;